checkpoints/*
processed_data/*
output/*
data/pretrain/*

data/__pycache__

models/__pycache__

megatron_lm

training/__pycache__

utils/__pycache__

.DS_Store

.venv

.env

.env.local

.env.development.local

.env.test.local

not_used
